body{
    background-color: rgb(213, 255, 130);
}
img{
    width: 100%;
}
.content{
    margin: auto;
    text-align: center;
    
}

.nam>h1,.nam>h3{
    font-size: 150%;
}
.nam>h1{color: rgb(123, 123, 5);}
.nam>h3{color: red;}

/* button */
.button{
    margin: auto;
}
input[type=button]{
    width: 19.5%;
    color: blue;
    background-color: rgb(172, 227, 61);
    border-radius: 5px;
    padding: 5px 5px;
}

/* body */
.body{
    margin: auto;
}
.img_cv{
    width: 70%;
    margin: auto;
    margin-top: 10px;
}